@for $i from 0 to 150 {
    .info-char-#{$i} {
        opacity: 0;
        animation: fadeIn forwards #{$i/15}s;
        animation-delay: 1.5*.5s;
    }
    @if $i == 149 {
        #company {
            opacity: 0;
            animation: fadeIn forwards #{$i/100}s;
            animation-delay: 1.5*.7s;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
