@for $j from 0 to 50 {
    .name-char-#{$j} {
        opacity: 0;
        animation: fadeIn forwards #{$j/15}s;
        animation-delay: .5s;
    }
    @if $j == 49 {
        #name {
            opacity: 0;
            animation: fadeIn forwards #{$j/100}s;
            animation-delay: .7s;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
