<div class="d-inline-flex align-items-center justify-content-center w-100">
    <a [href]="data?.linkedinUrl" target="_blank">
        <div class="icon-wrapper glass p-2 pb-1 zoom-on-hover-2">
            <i class="fab fa-linkedin fa-2x bounce-in"></i>
        </div>
    </a>
    <a [href]="data?.facebookUrl" target="_blank">
        <div class="icon-wrapper glass p-2 pb-1 zoom-on-hover-2">
            <i class="fab fa-facebook-square fa-2x bounce-in"></i>
        </div>
    </a>
    <a [href]="data?.githubUrl" target="_blank">
        <div class="icon-wrapper glass p-2 pb-1 zoom-on-hover-2">
            <i class="fab fa-github-square fa-2x bounce-in"></i>
        </div>
    </a>
    <a [href]="data?.overflowUrl" target="_blank">
        <div class="icon-wrapper glass p-2 zoom-on-hover-2">
            <i class="fab fa-stack-overflow fa-2x mx-1 bounce-in"></i>
        </div>
    </a>
</div>
