<div class="d-inline-flex align-items-center justify-content-center w-100">
    <a [href]="socialData?.linkedinUrl" target="_blank">
        <div class="icon-wrapper glass p-2 pb-1">
            <i class="fab fa-linkedin fa-2x"></i>
        </div>
    </a>
    <a [href]="socialData?.facebookUrl" target="_blank">
        <div class="icon-wrapper glass p-2 pb-1">
            <i class="fab fa-facebook-square fa-2x"></i>
        </div>
    </a>
    <a [href]="socialData?.githubUrl" target="_blank">
        <div class="icon-wrapper glass p-2 pb-1">
            <i class="fab fa-github-square fa-2x"></i>
        </div>
    </a>
    <a [href]="socialData?.overflowUrl" target="_blank">
        <div class="icon-wrapper glass p-2">
            <i class="fab fa-stack-overflow fa-2x mx-1"></i>
        </div>
    </a>
</div>
