<div class="d-inline-flex align-items-center justify-content-center w-100">
    <div class="icon-wrapper glass p-2 pb-1" (click)="openLinkedin()">
        <i class="fab fa-linkedin fa-2x"></i>
    </div>
    <div class="icon-wrapper glass p-2 pb-1" (click)="openFacebook()">
        <i class="fab fa-facebook-square fa-2x"></i>
    </div>
    <div class="icon-wrapper glass p-2 pb-1" (click)="openInstagram()">
        <i class="fab fa-instagram-square fa-2x"></i>
    </div>
    <div class="icon-wrapper glass p-2 pb-1" (click)="openGithub()">
        <i class="fab fa-github-square fa-2x"></i>
    </div>
</div>
