<div class="form-container">
    <div class="row mx-2">
        <label for="name" class="col-xl-6 col-lg-12">
            <input id="name" type="text" class="neu" placeholder="Name">
        </label>
        <label for="email" class="col-xl-6 col-lg-12">
            <input id="email" type="email" class="neu" placeholder="Email">
        </label>
        
    </div>
    <div class="row mx-2">
        <label for="message" class="col-12">
            <textarea id="message" type="text" class="neu mr-2" placeholder="Message" rows="5"></textarea>
        </label>
    </div>
</div>

