<form [formGroup]="contactForm" (ngSubmit)="sendMessage()">
    <div class="form-container mx-3 p-3">
        <div class="row">
            <label for="name" class="col-xl-6 col-lg-12">
                <input id="name"
                    type="name"
                    class="neu"
                    placeholder="Name"
                    formControlName="name"
                    [ngClass]="{'neu-error' : contactForm.controls.name.invalid && contactForm.controls.name.touched}"
                    required>
            </label>
            <label for="email" class="col-xl-6 col-lg-12">
                <input id="email"
                    type="email"
                    class="neu"
                    placeholder="Email"
                    formControlName="email"
                    [ngClass]="{'neu-error' : contactForm.controls.email.invalid && contactForm.controls.email.touched}"
                    required>
            </label>
        </div>
        <div class="row">
            <label for="message" class="col-12">
                <textarea id="message"
                    type="text"
                    class="neu mr-2 mb-3"
                    placeholder="Message"
                    rows="5"
                    formControlName="message"
                    [ngClass]="{'neu-error' : contactForm.controls.message.invalid && contactForm.controls.message.touched}"
                    required></textarea>
            </label>
        </div>
        <div class="d-flex flex-row-reverse mr-1">
            <button [disabled]="contactForm.invalid" class="neu primary" type="submit">Send</button>
        </div>
    </div>
</form>
