<div class="block-container">
    <div class="col-6">
        <ng-container *ngFor="let data of dataList|takeEvery:2; let i = index;">
            <app-about-text-container [data]="data" [animationDelay]="i*300"></app-about-text-container>
        </ng-container>
    </div>
    <div class="col-6">
        <ng-container *ngFor="let data of dataList|takeEvery:2:false; let i = index;">
            <app-about-text-container [data]="data" [animationDelay]="i*300"></app-about-text-container>
        </ng-container>
    </div>
</div>
