.text-block {
    margin: 6rem 3rem 5rem 3rem;
}

.title-line {
    color: rgb(99, 99, 99);
    font-size: xx-large;
}

.text-paragraph {
    font-size: large;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(99, 99, 99);
}

a:hover {
    text-decoration: underline;
}

@for $j from 0 to 50 {
    .name-char-#{$j} {
        opacity: 0;
        animation: fadeIn forwards #{$j/15}s;
        animation-delay: .5s;
    }
    @if $j == 49 {
        #name {
            opacity: 0;
            animation: fadeIn forwards #{$j/100}s;
            animation-delay: .7s;
        }
    }
}

@for $i from 0 to 150 {
    .info-char-#{$i} {
        opacity: 0;
        animation: fadeIn forwards #{$i/15}s;
        animation-delay: 1.5*.5s;
    }
    @if $i == 149 {
        #company {
            opacity: 0;
            animation: fadeIn forwards #{$i/100}s;
            animation-delay: 1.5*.7s;
        }
    }
}

@for $i from 0 to 150 {
    .description-char-#{$i} {
        opacity: 0;
        animation: fadeIn forwards #{$i/15}s;
        animation-delay: 2.3*.5s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
