<div class="w-100">
    <div class="text-block">
        <div class="title-line">
            <span *ngFor="let c of titleChars; let i = index">
                <span [ngClass]="c ? 'name-char-'+i : ''">{{c}}</span>
            </span>
            <span id="name"><b>{{data?.personName}}</b></span>
        </div>
        
        <div class="text-paragraph">
            <span *ngFor="let c of infoChars; let i = index">
                <span [ngClass]="c ? 'info-char-'+i : ''">{{c}}</span>
            </span>
            <span id="company">
                <a [href]="data?.companyLink" target="_blank">{{data?.companyName}}</a>.
            </span>
        </div>

        <div class="text-paragraph">
            <span *ngFor="let c of descriptionChars; let i = index">
                <span [ngClass]="c ? 'description-char-'+i : ''">{{c}}</span>
            </span>
        </div>
    </div>
</div>
