<div class="w-100">
    <div class="text-block">
        <div *ngIf="loading" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="loading" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="loading" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="!loading">
            <div class="title-line">
                <span>{{title}}</span><span id="name"><b>{{name}}</b></span>
            </div>
            <br>
            <div class="text-paragraph">
                <span>{{info}}</span>
                <span id="company">
                    <a [href]="company?.url" target="_blank">{{company?.name}}</a>.
                </span>
            </div>
            <div class="text-paragraph">
                <span>{{description}}</span>
            </div>
        </div>
    </div>
</div>
