@import '~bootstrap/scss/bootstrap';
@import './styles/animations.scss';
@import './styles/skeleton-loader.scss';

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(6px);
    border-radius: 15px;
}

button.glass {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: small;
    color: rgb(61, 61, 61);
    font-weight: bold;
}

button:hover.glass,
button.glass.active-nav-link {
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin: 1rem 0;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::placeholder {
    color: gray;
    opacity: .7;
}

/** DEV purpose */
.b {
    border: 1px solid chartreuse;
}

.bg {
    background: rgb(215, 255, 214);
}
