@import "~bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/back-abstraction.png')
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
}

button.glass {
    border-radius: 5px;
    padding: 5px 15px;
    font-size: small;
    color: rgb(61, 61, 61);
    font-weight: bold;
}

button:hover.glass,
button.glass.active-nav-link {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin: 1rem 0;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}
