<div class="glass h-100 profile-container">
    <div class="glass top-container text-center">
        <div class="image-container glass rounded-circle mb-3"><i class="fas fa-user m-auto fa-3x"></i></div>
        <h6>Edvardas Jusius</h6>
        <div class="info-text">Solution Developer<p>
        </div>
    </div>
    <div>
        <app-navigation-buttons></app-navigation-buttons>
    </div>
    <div class="w-100 social-links-wrapper">
        <app-social-links-bar></app-social-links-bar>
    </div>
</div>
