.profile-container {
    width: 15rem;
}

.top-container {
    padding: 1rem;
}

.image-container {
    height: 6rem;
    width: 6rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.info-text {
    font-size: small;
    color: gray;
}

.social-links-wrapper {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

.loader {
    width: 15rem;
    height: 19px;
    margin-left: -5rem;
}

.loader.name-loader {
    margin-bottom: 8px;
}
