.profile-container {
    width: 15rem;
}

.top-container {
    padding: 1rem;
}

.image-container {
    height: 6rem;
    width: 6rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.info-text {
    font-size: small;
    color: gray;
}

/*button {
    width: 12rem;
    margin-bottom: .5rem;
}*/

.social-links-wrapper {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}
